.layout {
    display: grid;
    grid-template-areas: 
        "header     header  header" 
        "left-panel content right-panel" 
        "footer     footer  footer";
    grid-template-columns: 27.63% auto 27.63%;
    grid-template-rows: fit-content(100%) auto fit-content(100%);
    align-items: center;
    height: 100vh;
}

.layout > .header {
    grid-area: header;
}

.layout > .left-panel {
    grid-area: left-panel;
}

.layout > .right-panel {
    grid-area: right-panel;
}

.layout > .content {
    grid-area: content;
}

.layout > .footer {
    grid-area: footer;
    background-color: #1f2a3a;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    padding: 10px 20px;
    color: #fff;
    background-color: #34495e;
    font-family: 'Monospaced', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 20px;
    color: #fff;
    background-color: #34495e;
    font-family: 'Monospaced', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #587087;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

::placeholder {
    color: #819bb0;
}