.header {
    width: 100%;
    text-align: right;
    height: 64px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2a3a;
}

.header img {
    height: 48px;
    padding: 0 8px;
}

.header .buttons-panel {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    padding: 0px 10px;
}