.right-panel {
    border-left: 1px solid #fff1;

    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    height: 100%;
}

.right-panel > * {
    height: 100%;
    overflow-y: auto;
    padding: 0px 10px;
}

.right-panel .current-playlist {
    border-right: 1px solid #ffffff08;
}

.right-panel .queue div label {
    display: block;
    padding-bottom: 5px;
}

.right-panel .queue img {
    height: auto;
    max-width: 100%;
}

.right-panel .playlists {
    text-align: left;
    /* font-size: 15px; */
}

.right-panel .queue > *, .right-panel .playlists > * {
    box-sizing: border-box;
    background-color: #34495e;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px #0005;
    margin-bottom: 10px;
}