.layout {
    display: grid;
    grid-template-rows: fit-content(100%) auto auto;
    align-items: center;
    height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-panel {
    display: block;
    width: 100%;
    text-align: right;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.header-panel img {
    height: 48px;
    padding: 0 8px;
}

.sentences {
    max-height: 150px;
    overflow-y: auto;
    background-color: #fff1;
}

.sentences > * {
    color: #fff8;
}

.sentences > .executed {
    font-weight: bold;
    color: inherit;
}

input {
    padding: 10px 20px;
    color: #fff;
    background-color: #34495e;
    font-family: 'Monospaced', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 20px;
    color: #fff;
    background-color: #34495e;
    font-family: 'Monospaced', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #587087;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

::placeholder {
    color: #819bb0;
}