.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.sentences {
    max-height: 150px;
    overflow-y: auto;
    background-color: #fff1;
}

.sentences > * {
    color: #fff8;
}

.sentences > .executed {
    font-weight: bold;
    color: inherit;
}